AnandhanRepository.Console/bin
AnandhanRepository.Console/obj
AnandhanRepository.Core/bin
AnandhanRepository.Core/obj
AnandhanRepository.Repository/bin
AnandhanRepository.Repository/obj
AnandhanRepository.XMLSource/bin
AnandhanRepository.XMLSource/obj
