AnandhanRepository.Console/bin
AnandhanRepository.Console/obj
AnandhanRepository.Core/bin
AnandhanRepository.Core/obj
AnandhanRepository.Repository/bin
AnandhanRepository.Repository/obj
AnandhanRepository.XMLSource/bin
AnandhanRepository.XMLSource/obj

#Do not add generated xml file
AnandhanRepository.Console/*.xml
